[run]
branch = True
source = vectorbt

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    */px_accessors.py
    */utils/colors.py
    */utils/figure.py
    */utils/image.py
    */utils/module.py
    */utils/requests.py
    */generic/plotting.py
    */data/custom.py
    */messaging/telegram.py