[run]
branch = True
source = vectorbt

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    */generic/plotting.py
    */utils/colors.py
    */utils/docs.py
    */utils/widgets.py
    */utils/image.py
    */px_accessors.py
    */data/custom.py
    */utils/messaging.py