*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
data/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.d
.idea/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.tox
.cache