# This convenience file that contains package names that are used by notebooks
#   in the "examples" directory.

yfinance
statsmodels
kaleido
python-binance
ta-lib
python-telegram-bot
ccxt

# There is a matplotlib-related bug in the current release of backtrader.
# There is fix, but it is not yet released. So, we need to install backtrader with the path merged.
# See: https://github.com/mementum/backtrader/pull/418#issuecomment-810237185
git+https://github.com/mementum/backtrader.git@0fa63ef4a35dc53cc7320813f8b15480c8f85517#egg=backtrader

